aiohttp==1.0.5
astroid==1.6.3
async-timeout==3.0.0
autopep8==1.3.5
beautifulsoup4==4.6.3
bleach==3.3.0
certifi==2018.4.16
chardet==3.0.4
click==6.7
discord.py==0.16.12
docutils==0.14
EorzeaEnv==1.0.0
Flask==1.0.2
future==0.16.0
idna==2.6
isort==4.3.4
itsdangerous==0.24
Jinja2==2.10
lazy-object-proxy==1.3.1
MarkupSafe==1.0
mccabe==0.6.1
multidict==4.3.1
numpy==1.15.4
oauthlib==2.0.7
pkginfo==1.4.2
pprint==0.1
pycodestyle==2.4.0
Pygments==2.2.0
pylint==1.8.4
pymongo==3.7.2
python-twitter==3.4.2
pytz==2018.7
readme-renderer==24.0
requests==2.20.1
requests-oauthlib==1.0.0
requests-toolbelt==0.8.0
six==1.11.0
tqdm==4.28.1
twine==1.12.1
twitter==1.18.0
urllib3==1.22
webencodings==0.5.1
websockets==3.4
Werkzeug==0.14.1
wrapt==1.10.11
